@import "tailwindcss";


body {
  font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.site-header--stuck{
  z-index:999 !important
  }

  
.loader {
  width: 16px;
  height: 16px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .website-loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: blue;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
  }
  
@keyframes popupOpen {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popupClose {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}



.current-page{
  border-radius: 100%;
  color: #FFF;
  background-color: blue;
}

@layer components {
  .sticky-action-cell {
    @apply
      px-1 mb-0
      bg-[#F9FBFC]
      sticky right-0 z-40
      relative
      text-xl gap-2 text-center mx-auto;
  }

  .sticky-action-cell::after {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(209 213 219); /* gray-300 */
  }

  .sticky-action-cell::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: rgb(209 213 219); /* gray-300 */
  }
}

@layer components {
  .sticky-site-header {
    @apply
      sticky right-0 top-0 z-50
      bg-[#F9FBFC]
      min-w-[150px] max-w-[150px]
      border-gray-100
      relative;
  }

  .sticky-site-header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: rgb(209 213 219); /* gray-300 */
  }
}
